{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ catalog.title }} - Каталог походов.
{% endblock %}

{% block content %}
<section>
  <div class="image-container">
    <img src="{{ catalog.image.url }}" alt="people" class="background-image">
    <div class="overlay-backgrounddetail"></div>
    <div class="overlay-textdetail">
    <h1>{{ catalog.title }}</h1>
    <p>{{ catalog.description }}</p>
    <h3>Количество дней: {{ catalog.duration }}</h3>
    <h3>Километры: {{ catalog.distance }}</h3>
    </div>
  </div>
</section>
{% endblock %}